NOTION_TOKEN=ntn_xxx
NOTION_DB_ID=xxx
YASEEN_EMAIL=yaseenmawlani@gmail.com
EMAIL_USER=yaseenmawlani@gmail.com
EMAIL_PASS=dquqiuznsldt mpbn
NOTION_CALENDAR_URL=https://www.notion.so/xxx
IG_BUSINESS_ACCOUNT_ID=17841466552933124
PORT=3000
