NOTION_TOKEN=your_notion_token_here
NOTION_DB_ID=6ac0450f-e08c-47fe-8488-d03201cecb76
IG_BUSINESS_ACCOUNT_ID=17841466552933124
IG_ACCESS_TOKEN=your_ig_access_token_here
INSTAGRAM_ACCOUNT_ID=17841466552933124
YASEEN_EMAIL=yaseenmawlani@gmail.com
EMAIL_USER=yaseenmawlani@gmail.com
EMAIL_PASS=your_gmail_app_password_here
NOTION_CALENDAR_URL=https://www.notion.so/62606cf2d38b46e2ad4e6bc1d13478c0
META_BUSINESS_PORTFOLIO_ID=465191725955156
